{% extends 'base.html.twig' %}

{% block title %}Nouveau manga{% endblock %}

{% block body %}
    <h1>Crée un nouveau manga </h1>

    {{ include('manga/_form.html.twig') }}

    <a href="{{ path('manga_index') }}">Retourner à la liste</a>
{% endblock %}
